<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Contact Me</title>
    <link rel="stylesheet" href="CSS/Styles.css">
  </head>
  <body>
    <h1>My Contact Details</h1>
    <table>
      <tr>
        <td>Contact:</td>
        <td>233123412345</td>
      </tr>
      <tr>
        <td>Address:</td>
        <td>Pokuase</td>
      </tr>
    </table>
    <form action="mailto:agombuy@gmail.com"  method="post" enctype="text/plain">
      <label for="">Your name:</label>
      <input type="text" name="yourName" value=""> <br>
      <label for="">Email:</label>
      <input type="email" name="yourEmail" value=""><br>
      <label for="">Password:</label>
      <input type="password" name="yourPassword" value="">
      <label for="">Message</label><br>
      <textarea name="name" rows="10" cols="30"></textarea><br>
      <input type="submit" name="">

    </form>
  </body>
</html>
