<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Enoch's Project  </title>
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="shortcut icon" href="static/favicon.ico">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@300&family=Sacramento&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="top_container">
      <img class="top_cloud" src="static/images/cloud.png" alt="cloud_img">
      <h1>I'm Enoch</h1>
      <h2>A <span class="pro">pro</span>grammer</h2>
      <img class="bottom_cloud" src="static/images/cloud.png" alt="cloud_img">
      <img src="static/images/mountain.png" alt="mountain_img">
    </div>

    <div class="middle-container">
      <div class="profile">
        <img src="static/images/Enoch.png" alt="">
        <h2>Hi there!</h2>
        <p class="intro">Welcome my first trial website. Your review and feedback would be appreciated.</p>
      </div>
      <hr>
      <div class="skills">
        <h2>My Skills.</h2>
        <div class="skill-row">
          <img class="model" src="static/images/modelling.png" alt="">
          <h3>3D Modelling</h3>
          <p class="modelling_paragraph">Creating and modelling designs with Solidworks, Solidedge, Revit,Autocad and other CAD software from 2D drafts or desin specifications</p>
        </div>
        <div class="skill-row">
          <img class="data" src="static/images/data.png" alt="">
          <h3>Data Science</h3>
          <p class="data_paragraph">I spend most of my time analysing and intrepreting data to make meaningful decision. I also love to code.  Currently I'm learning python and sql.<br> I started coures on web development as well</p>
        </div>
      </div>
      <hr>
      <div class="contact-me">
        <h2>Get In Touch</h2>
        <h3>Your Feeback is Appreciated.</h3>
        <p>Click the link below to take you to my contact page.</p>
        <a class="btn" href="{{ url_for('get_contact') }}">CONTACT ME</a>
      </div>
    </div>


    <div class="bottom-container">
      <a class="footer-link" href="https://www.linkedin.com/in/enochamobire/">LinkedIn</a>
      <a class="footer-link" href="https://twitter.com/eamobire">Twitter</a>
      <a class="footer-link" href="https://github.com/eamobire">Website</a>
      <p class="copyright">© Enoch Amobire.</p>
    </div>


  </body>
</html>
